*,*::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #212130;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('./assets/images/bg.png');
  color: #f2f2f2;
  min-width: 100%;
  background-position: center;
  background-size: cover;
}

.container{
  /* top right bottom left */
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.nav-container{
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: #16CFF7;
}

.navbar{
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.9);
}

.MuiTextField-root > label {
  color: rgba(255,255,255, 0.8);
}

.navbar svg{
  margin: 0px 22px;
}

.MuiSvgIcon-fontSizeSmall{
  font-size: 1.1rem !important;
}

.getStartedBtn{
  background-color: #FFDD77;
  border: 2px solid #FFDD77;
  padding: 1rem 3rem;
	border-radius: 2.75rem;
  cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
  margin-top: 38px;
  box-shadow: 0 1rem 1.25rem 0 rgb(255 235 0 / 50%) inset,
  0 -0.25rem 1.5rem rgb(255 235 0) inset,
}

.getStartedBtn:hover{
  background-color: transparent;
  color: #FFDD77;
  transition: background-color .4s ease-in;
}